<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.hankernews.mapper.UserMapper">

    <select id="queryUserByUid" resultType="com.cskaoyan.hankernews.bean.User">
    select
    uid,
    username,
    password
    from
    user
    where
    uid=#{uid}
    </select>
    <insert id="registUser" parameterType="java.lang.String" >
        INSERT INTO user(name,password) VALUES(#{username},#{password})
    </insert>
    <select id="isUserExit" resultType="user">
        select
        *
        from
        user
        where name=#{username}
    </select>
    <select id="findUserByUsernameAndPassword" resultType="user">
        select
        *
        from
        user
        where name=#{username} and password=#{password}
    </select>
</mapper>